[defaults]
# lokasi inventory files
inventory = /home/mmrfai/netauto-smkn1/inventory/hosts.ini
vault_password_file = .vault_pass

# mencegah host key checking 
host_key_checking = False

# mengubah tampilan log agar error lebih mudah dibaca
stdout_callback = yaml
stderr_callback = yaml
#deprecation_warnings = False

[persistent_connection]
# memperpanjang waktu tunggu agar tidak timeout saat konfigurasi banyak
command_timeout = 60
connect_timeout = 60